<p><%= "#{@email}様" %></p>

<p>以下のリンクから管理者登録をお願いします。</p>
<p><%= "#{ENV["FRONTEND_URL"]}/auth/register-as-admin" %></p>

<p>ログイン後、以下の認証コードを入力してください</p>

<p>認証コード：</p>
<p><%= "#{@passcode}" %></p>

<p>認証コードの期限は２４時間です。</p>
